<h3>Add New Shift</h3>

<%= simple_form_for(@shift) do |f|%>
  <p>
    <%= f.input(:date, autofocus: true, placeholder: 'MM/DD/YYYY') %>
  </p>
  <p>
    <%= f.input(:user_id, label: 'Employee', :collection => @names) %>
  </p>

  <p>
    <%= f.button(:submit, 'Add Shift', class: "btn btn-primary") %>
  </p>
<% end %>
