<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>

<%= simple_form_for(@user) do |f|%>
  <p>
    <%= f.input(:name, autofocus: true) %>
  </p>
  <p>
    <%= f.button(:submit, "Signup", class: "btn btn-primary") %>
  </p>
<% end %>