<h3>Add New User</h3>

<%= simple_form_for(@user) do |f|%>
  <p>
    <%= f.input(:name, autofocus: true) %>
  </p>
  <p>
    <%= f.button(:submit, "Signup", class: "btn btn-primary") %>
  </p>
<% end %>